version: "3.8"

services:
  mongodb:
    image: mongo:6.0
    container_name: mongodb
    restart: always
    environment:
      MONGO_INITDB_DATABASE: flights_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  flights-service:
    build: ./flights-service
    container_name: flights-service
    restart: on-failure
    depends_on:
      - mongodb
    ports:
      - "8081:8081"
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongodb:27017/flights_db
      
      SPRING_CLOUD_CONFIG_ENABLED: "false"
      EUREKA_CLIENT_ENABLED: "false"
      EUREKA_CLIENT_REGISTER_WITH_EUREKA: "false"
      EUREKA_CLIENT_FETCH_REGISTRY: "false"
    stdin_open: true
    tty: true

volumes:
  mongo_data:
